body, html {
  margin: 0;
  padding: 0;
}

hr {
  border-top: 4px double black;
  border-bottom: 0;
}

.choices {
  list-style: none;
}

.btn {
  background: #e0e0e0;
  border: 1px solid #202020;
  border-radius: 8px;
  display: inline-block;
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 8px;
  text-decoration: none;
}

.btn:hover {
  background: #a0a0a0;
}

.scene {
  height: 100vh;
  padding: 16px;
}
